@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

#Add_Sec {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 20px;
}

#Left {
  margin-top: 50px;
  padding-right: 60px;
  width: 55%;
  border-right: 1px solid rgb(223, 222, 221);
}

@media only screen and (max-width: 500px) {
  #Left {
   display:visible;
  }
}

#Left+div {
  margin-bottom: 10px;
}

/* <--------------- Address Input filled ------------> */
#Add {
  width: 100%;
  border: 1px solid rgb(223, 222, 221);
}

#Add>h3 {
  padding-left: 12px;
  padding: 25px 0px 20px 10px;
}

#Add input {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 10px;
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
  font-size: 18px;
  border: 1px solid rgb(223, 222, 221);
}

#Add div {
  display: flex;
  width: 94.5%;
  margin: auto;
}

#Add>div input {
  padding: 20px 10px;
  margin: 0px 8px;
  background: #f5f5f6;
}

#Left h3 {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 1000;
}

#Add #Submit {
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  box-shadow: rgba(90, 88, 88, 0.35) 5px 0px 10px;
  padding: 20px 0px;
  border: 1px solid rgb(223, 222, 221);
}

#Add #Submit input {
  padding: 20px 48%;
  background-color: #ff3f6c;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

@media only screen and (max-width: 500px) {
  #Add {
   border:none;
  }
}

@media only screen and (max-width: 500px) {
  #Add input{
   width:none;
  }
}


#Right {
  width: 50%;
}

#Container {
  width: 100%;
  height: auto;
}

#Container button {
  width: 120px;
  padding: 10px 0px;
  margin: 20px 20px 0px 0px;
  background: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  font-family: Assistance, Helvetica, sans-serif;
}

#Container>div {
  color: #79747c;
  font-size: 18px;
  font-weight: 700;
}

#Container #Top {
  display: flex;
  border: 1px solid rgb(223, 222, 221);
}

#Container p {
  padding: 15px 0px 0px;
}

#Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border: 1px solid;
  border: 1px solid rgb(223, 222, 221);
}

#Top button {
  width: 200px;
  height: 50px;
  background: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 900;
  color: #79747c;
  margin: 20px 0px 20px;
}

#A>div {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* -------------Show order above Invoice ------------- */
#show_order {
  display: flex;
  width: auto;
  align-items: center;
  border-bottom: 1px solid rgb(230, 227, 227);
  padding-bottom: 30px;
  margin-bottom: 10px;
}

#show_order img {
  width: 60px;
  height: 80px;
  margin-right: 70px;
  
}

#show_order p {
  font-size: 16px;
  margin-right: 10px;
}



/* <--------- Invoice Section Styling -------------> */


@media only screen and (max-width: 500px) {
  #Total_Pri {
   display: none;
  }
}



/* <-------------- Address Container Styling-------------> */

#Conti {
  padding: 10px 30px;
  background-color: #ff3f6c;
  color: white;
  /* width: 90%; */
  text-align: center;
  border-radius: 5px;
  margin: auto;
}

#Conti a {
  text-decoration: none;
}

#Conti h4 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}